/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1.5fr 5fr;
  background-color: #e6ece9;
  gap: 4px;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 2fr;
  background-color: #ecf4f1;
  color: #141918;
}

.header-top {
  display: grid;
  grid-template-columns: 48px 2fr 60px 60px 150px;
  justify-items: end;
  align-items: center;
  padding-left: 30px;
  padding-right: 50px;
}

.search {
  justify-self: start;
  background-color: #ecf4f1;
}

.header-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-bottom-left {
  justify-self: start;
  align-self: center;
  display: grid;
  grid-template-columns: 96px 250px;
  padding-left: 25px;
}

.header-content {
  grid-column: 2 / 3;
}

.header-bottom-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: end;
  align-self: center;
  column-gap: 20px;
  padding-right: 30px;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  row-gap: 10px;
  align-content: start;
  background-color: #20B183;
  color: #edf4f1;
  padding: 20px 0px 0px 20px;
}

.sidebar-icon {
  /* same as eventual sidebar font size */
  height: 12px;
  filter: invert(99%) sepia(2%) saturate(400%) hue-rotate(93deg) brightness(97%) contrast(98%);
}

.site-title {
  grid-row: span 5;
}

.end-link-section {
  grid-row: span 5;
}

.main-section {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 20px;
  padding: 20px;

}

.projects {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template: 10px repeat(3, 1fr) / repeat(2, 1fr);
  gap: 20px;
  padding-right: 20px;
}

.main-section-heading {
  grid-column: span 2;
}

.card-container {
  border-radius: 12px;
  background-color: #20B183;
  display: grid;
  grid-template-rows: 5fr 1fr;
  justify-content: end;
}

.card {
  padding: 25px;
  background-color: #285D4C;
  margin-left: 10px;
  border-radius: 0px 12px 0px 0px;
  color: #e6ece9;
  /* font size tbd */
  font-size: 12px;
}

.card-icon-row {
  display: grid;
  grid-template-columns: 4fr repeat(3, 1fr);
  grid-row: 2 / 3;
  background-color: #285D4C;
  margin: 0px 0px .5px 10px;
  border-radius: 0px 0px 12px 0px;
  grid-template-areas: ". icon1 icon2 icon3";
}

.card-icon-row .icon path {
  fill: #81DABE;

}

.project-icon {
  height: 20px;
  filter: invert(92%) sepia(9%) saturate(1615%) hue-rotate(96deg) brightness(90%) contrast(89%);
}

#star-icon {
  grid-area: icon1;
}

#eye-icon {
  grid-area: icon2;
}

#share-icon {
  grid-area: icon3;
}

.announcements-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-template-columns: 1fr;
  color: black;
}

.announcement-block {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
  border-radius: 12px;
  background-color: #81DABE;
  color: #141918;
}

.announcement-content {
  font-size: 10px;
}

.trending-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-template-columns: 1fr;
  color: black;
}

.trending-block {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  border-radius: 12px;
  background-color: #81DABE;
  color: #141918;
}

.trending-account {
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 7px;
  align-items: center;
  font-size: .7rem;
}

.profile-pic {
  border-radius: 50%;
  height: 40px;
}

.profile-pic-big {
  height: 60px
}
svg {
  height: 20px;
}

svg path {
  fill: #285D4C;
}

button {
  padding: 15px 30px;
  background-color: #20B183;
  color: #e6ece9;
  border-radius: 18px;
  border-style: none;
  cursor: pointer;
}

h2 {
  font-weight: 800;
}
