/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --header-sidebar-font: "Montserrat", sans-serif;
  --header-sidebar-main-size: 20px;
  --header-sidebar-smaller-size: 14px;
  --header-sidebar-bold: 800;
  --header-sidebar-lighter: 600;
  --main-section-font: "Hind", sans-serif;
  --main-section-heading-size: 18px;
  --card-title-size: 16px;
  --card-title-weight: 500;
  --card-body-size: 12px;
  --card-body-weight: 300;
  --announcement-trending-title-size: 12px;
  --announcement-trending-body-size: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  background-color: #e6ece9;
  gap: 4px;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: .45fr .5fr;
  background-color: #ecf4f1;
  font-family: var(--header-sidebar-font);
  font-size: var(--header-sidebar-smaller-size);
  font-weight: var(--header-sidebar-lighter);
  color: #141918;
}

.large-text {
  font-size: var(--header-sidebar-main-size);
  font-weight: var(--header-sidebar-bold);
}

.header-top {
  display: grid;
  grid-template-columns: 30px 2fr 60px 60px 150px;
  column-gap: 15px;
  justify-items: end;
  align-items: center;
  padding: 0px 40px 0px 30px;
}

#header-top-user {
  font-size: var(--main-section-heading-size);
  font-weight: calc(var(--header-sidebar-bold) - 200);
}

.search {
  justify-self: start;
}

.search-bar {
  background-color: #e6ece9;
  width: 90%;
  height: 30px;
  border-style: none;
  box-shadow: rgba(0,0,0,0.5) 0 0 5px;;
  border-radius: 15px;
  padding-left: 15px;
}

.search-bar:focus {
  outline: none;
}

.header-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-bottom-left {
  justify-self: start;
  align-self: center;
  display: grid;
  grid-template-columns: 96px 500px;
  row-gap: 7px;
  column-gap: 12px;
  padding-left: 25px;
}

.header-bottom-left img {
  grid-row: 1 / 3;
  height: 80px;
}

.header-content {
  grid-column: 2 / 3;
}

.greeting {
  align-self: end;
}

.header-bottom-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: end;
  align-self: center;
  column-gap: 25px;
  padding-right: 30px;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  align-content: start;
  background-color: #20B183;
  font-family: var(--header-sidebar-font);
  font-size: var(--header-sidebar-main-size);
  font-weight: var(--header-sidebar-lighter);
  color: #edf4f1;
  padding: 20px 0px 0px 20px;
}

.sidebar-wrapper {
  display: grid;
  gap: 12px;
}

.title-icon,
.sidebar-icon {
  filter: invert(99%) sepia(2%) saturate(400%) hue-rotate(93deg) brightness(97%) contrast(98%);  
}

.title-icon {
  height: 40px;
}

.sidebar-icon {
  height: var(--header-sidebar-main-size);
}

.site-title {
  grid-row: span 9;
  font-size: 24px;
}

.end-link-section {
  grid-row: span 5;
}

.main-section {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 20px;
  padding: 20px;
  font-family: var(--main-section-font);
}

.projects {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template: 10px repeat(3, 1fr) / repeat(2, 1fr);
  gap: 20px;
  padding-right: 20px;
}

.main-section-heading {
  grid-column: span 2;
  font-size: var(--main-section-heading-size);
  font-weight: var(--card-title-weight);
}

.card-container {
  border-radius: 12px;
  background-color: #20B183;
  display: grid;
  grid-template-rows: 4fr 1fr;
  justify-content: end;
}

.card {
  padding: 25px;
  background-color: #285D4C;
  margin-left: 10px;
  border-radius: 0px 12px 0px 0px;
  color: #e0e7e3;
  font-size: var(--card-body-size);
  font-weight: var(--card-body-weight);
}

.card p:first-child {
  color: #e6ece9;
  line-height: 1.5;
  font-size: var(--card-title-size);
  font-weight: var(--card-title-weight);
}

.card-icon-row {
  display: grid;
  grid-template-columns: 4fr repeat(3, 1fr);
  grid-row: 2 / 3;
  background-color: #285D4C;
  margin: 0px 0px .5px 10px;
  border-radius: 0px 0px 12px 0px;
  grid-template-areas: ". icon1 icon2 icon3";
}

.card-icon-row .icon path {
  fill: #81DABE;
}

.project-icon {
  height: 20px;
  filter: invert(92%) sepia(9%) saturate(1615%) hue-rotate(96deg) brightness(90%) contrast(89%);
}

#star-icon {
  grid-area: icon1;
}

#eye-icon {
  grid-area: icon2;
}

#share-icon {
  grid-area: icon3;
}

.announcements-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-template-columns: 1fr;
  color: black;
}

.announcement-block {
  display: grid;
  grid-template-rows: 1fr .1fr 1fr .1fr 1fr;
  gap: 20px;
  padding: 30px;
  border-radius: 12px;
  background-color: #81DABE;
  color: #27312f;
}

.announcement-title {
  color: #141918;
  line-height: 1.5;
  font-size: var(--announcement-trending-title-size);
  font-weight: var(--card-title-weight)
}

.announcement-content {
  font-size: var(--announcement-trending-body-size);
  font-weight: var(--card-body-weight);
}

.announcement-separator {
  border-bottom: 1px solid;
}

.trending-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-template-columns: 1fr;
}

.trending-block {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(4, 1fr);
  justify-content: start;
  align-items: center;
  padding: 25px 0px 25px 35px;
  border-radius: 12px;
  background-color: #81DABE;
  color: #141918;
}

.trending-account {
  display: grid;
  row-gap: 5px;
  column-gap: 20px;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  font-size: var(--card-body-size);
  font-weight: var(--card-body-weight);
}

.trending-account img {
  grid-row: 1 / 3;
}

.trending-account p {
  grid-column: 2 / 3;
}

.trending-handle {
  align-self: end;
}

.profile-pic {
  border-radius: 50%;
  height: 48px;
}

.profile-pic-big {
  height: 60px
}
svg {
  height: 20px;
}

svg path {
  fill: #285D4C;
}

button {
  padding: 15px 25px;
  background-color: #20B183;
  font-family: var(--header-sidebar-font);
  font-size: var(--header-sidebar-smaller-size);
  font-weight: var(--header-sidebar-lighter);
  color: #e6ece9;
  border-radius: 24px;
  border-style: none;
  cursor: pointer;
}